.bg-login-image {
    background: url(../img/login-image.jpg);
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url(../img/login-image.jpg);
    background-position: center;
    background-size: cover;
}
    
.bg-password-image {
    background: url(../img/login-image.jpg);
    background-position: center;
    background-size: cover;
}

.avatar {
	width: 80px;
	height: auto;
	border: 2px solid purple;
    border-radius: 1em;
}